name: Run Twitter Bot

on:
  schedule:
    - cron: "0 1 * * *"    # 06:30 IST
    - cron: "0 3 * * *"    # 08:30 IST
    - cron: "0 5 * * *"    # 10:30 IST
    - cron: "30 7 * * *"   # 13:00 IST
    - cron: "0 11 * * *"   # 16:30 IST
    - cron: "30 13 * * *"  # 19:00 IST
    - cron: "30 15 * * *"  # 21:00 IST
    - cron: "0 17 * * *"   # 22:30 IST
    - cron: "30 19 * * *"  # 01:00 IST
    - cron: "30 22 * * *"  # 04:00 IST

  workflow_dispatch: {} # Manual trigger

jobs:
  run-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run Bot
      env:
        API_KEY: ${{ secrets.API_KEY }}
        API_SECRET: ${{ secrets.API_SECRET }}
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        ACCESS_SECRET: ${{ secrets.ACCESS_SECRET }}
        GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
      run: python3 auto_poster.py
